<h1>Education</h1>
<h2>Singapore University of Technology and Design</h2>
<p>Bachelor of Engineering (Computer Science and Design) | Jan 2024 - May 2028 (expected)</p>
<ul>
    <li>SUTD Global Distinguished Scholarship (<a href="https://www.sutd.edu.sg/Admissions/Undergraduate/Scholarship/SUTD-Global-Distinguished-Scholarship"  target="_blank" rel="noopener noreferrer">Info</a>)</li>
</ul>
<p>Strictly speaking, I'm intending to major in CSD, as the first 1.5 years of the syllabus are common across all offered programmes.</p>
<br><hr>
<h2>Anderson Serangoon Junior College</h2>
<p>GCE 'A' Levels | Feb 2020 - Dec 2021</p>
<ul>
    <li>Graduated top 5% of the cohort</li>
    <li>ASRJC Alpha Scholars Programme (<a href="https://www.asrjc.moe.edu.sg/asrjc-experience/special-programmes/talentdev/"  target="_blank" rel="noopener noreferrer">Info</a>)</li>
    <li>Artemis House Vice-Captain</li>
</ul>
<p>Despite entering JC through the start of the pandemic and through the peak of Singapore's Safe Management Measures (SMM), I found my time in ASR to be fulfilling and I enjoyed the 2 years. It was a privilege to serve as the Vice-Captain of Artemis, through which I led the College Ambassadors in the leadup and during Orientation 2021. We built fond memories together in spite of the difficulties posed by SMMs.</p>
<p>Beyond my duties as a House Vice-Captain and Student Councillor, I contributed to various events such as ASR's Rejuvenation Week and Earth Week in 2021, aiming to contribute back to my community and raise awareness for social issues. I also participated in external competitions such as the Singapore Mathematical Olympiad and <a href="https://www.nasa.gov/general/nasas-lunar-loo-challenge/"  target="_blank" rel="noopener noreferrer">NASA's Lunar Loo Challenge</a>.</p>
<p>I was fortunate to have built a strong support system that enabled me to perform my best for the 2021 GCE 'A' Levels.</p>
