<div id="mainblock">
    <div class="center">
        <a href="https://www.alvinnws.com">
            <div class="link">
                Personal Website
            </div>
        </a>
        <a href="https://www.github.com/alvinnws">
            <div class="link">
                Github
            </div>
        </a>
        <a href="https://www.linkedin.com/in/alvinnws">
            <div class="link">
                LinkedIn
            </div>
        </a>
        <a href="https://www.instagram.com/alvinnws/">
            <div class="link">
                Instagram
            </div>
        </a>
    </div>
</div>