@if (this.location.path() != "/links" && this.location.path() != "") {
    <div id="menu-bg">
        <div id="menu">
            <div style="margin-right:auto">
                <a href="/"><button mat-button>Home</button></a>
                <a href="/blog"><button mat-button>Blog</button></a>
                <a href="/contact-me"><button mat-button>Contact</button></a>
            </div>
            
            <div style="margin: 10px 7px 0px 7px"><a href="https://www.github.com/alvinnws" class="link" target="_blank" rel="noopener noreferrer"><ng-icon style="scale: 1.5;" name="bootstrapGithub"></ng-icon></a></div>
            <div style="margin: 10px 7px 0px 7px"><a href="https://www.linkedin.com/in/alvinnws" class="link" target="_blank" rel="noopener noreferrer"><ng-icon style="scale: 1.5; cursor: pointer;" name="bootstrapLinkedin"></ng-icon></a></div>
            <div style="margin: 10px 7px 0px 7px"><ng-icon style="scale: 1.8; cursor: pointer;" name="matEmailOutline" [cdkCopyToClipboard]="email" (click)="copied()"></ng-icon></div>
            <hr id="menu-divider">
        </div>
    </div>
}