@import '../../styles.scss';

nav {
    height: 50px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -1px 4px 0px var(--shadow);
    position: fixed;
    top: 0;
    background-color: white;
}

#spacer {
    width: 100px;
}

#logo {
    width: 200px;
    text-align: center;
}

#links {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}