@import '../../styles.scss';

mat-toolbar {
    height: 50px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -1px 4px 0px var(--shadow);
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 2000 !important;
}

div img {
    margin:5px 0px 5px 0px;
}

#spacer {
    width: 100px;
}

#logo {
    width: 120px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

#links {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobile-menu {
    display: none;
}

::ng-deep .mat-mdc-menu-submenu-icon {
    visibility: hidden;
    display: none;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    #links {
        display: none;
    }
    #mobile-menu {
        display: inline;
    }
    #spacer {
        width: 0px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}