<nav>
    <div id="spacer"></div>
    <div id="logo">LOGO PLACEHOLDER</div>
    <div id="links">
        <a mat-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <button mat-button [matMenuTriggerFor]="about">About</button>
        <mat-menu #about="matMenu">
            <a mat-menu-item routerLink="/wip" routerLinkActive="active" ariaCurrentWhenActive="page">Summary</a>
            <a mat-menu-item routerLink="/wip" routerLinkActive="active" ariaCurrentWhenActive="page">Work</a>
            <a mat-menu-item routerLink="/wip" routerLinkActive="active" ariaCurrentWhenActive="page">Education</a>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="Projects">Projects</button>
        <mat-menu #Projects="matMenu">
            <a mat-menu-item routerLink="/wip" routerLinkActive="active" ariaCurrentWhenActive="page">TypeHint</a>
            <a mat-menu-item routerLink="/wip" routerLinkActive="active" ariaCurrentWhenActive="page">Portfolio Website</a>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu">Minigames</button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="/minigames/tictactoe" routerLinkActive="active" ariaCurrentWhenActive="page">Tic-Tac-Toe</a>
        </mat-menu>
        <a mat-button routerLink="/wip" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
    </div>
    <div id="spacer"></div>
</nav>