<h1>Projects</h1>
<h2>Singapore AI CTF by GovTech 2024</h2>
<p>Python | No repository available </p>
<ul>
    <li>Ranked 22nd out of over 500 teams</li>
    <li>Solved 7 out of 11 challenges</li>
</ul>
<p>I participated in my first ever CTF, which taught me a great deal on modern AI exploits and weaknesses. My friends and I chose to join this to gain experience, and ended up performing much better than anticipated despite our inexperience. The challenges required us to think out of the box and I'm proud to have only missed on the four most difficult challenges (least number of solves).</p>
<hr>
<h2>SUTD Mindsports Game Jam 2024</h2>
<p>C#, Unity | <a href="https://github.com/yugyhjuh/GameGemGit"  target="_blank" rel="noopener noreferrer">Repository</a></p>
<ul>
    <li>Awarded Best Ambition (Team)</li>
    <li>Developed a side-scrolling platformer game with engaging storyline and custom sprites/assets </li>
    <li>Created 3 minigames and 1 boss battle and the movement script which can support double jump and custom gravity</li>
</ul>
<p>This was the first competition I joined as an undergraduate, challenging myself to learn some basic game development. Due to my team's inexperience, we were placed in the Novice category, which many other freshman were a part of. We developed the game in under 24 hours of work, across 2 days as we had to work around our academic schedules. Many inside jokes were born out of this event and I hope to have more positive experiences like this.</p>
<hr>
<h2>Resume Website</h2>
<p>HTML/CSS, Typescript, Angular, Git | <a href="https://github.com/alvinnws/alvinnws.github.io"  target="_blank" rel="noopener noreferrer">Repository</a></p>
<p>This project serves several purposes, including a place for me to learn more about HTML/CSS, Javascript and the use of frameworks like <a href="https://angular.dev/"  target="_blank" rel="noopener noreferrer">Angular</a>. Additionally, the website can serve to host records of my life, whether professoinal or personal. I intend to continue to work on the website, beginning a section for a blog, as well as subpages to detail any larger projects I embark on in the future.</p>
<p></p>
<br><hr>
<h2>Advent Of Code 2023</h2>
<p>Python | <a href="https://github.com/alvinnws/advent-of-code/tree/main/2023"  target="_blank" rel="noopener noreferrer">Repository</a></p>
<p>I tackled and completed the <a href="https://adventofcode.com/"  target="_blank" rel="noopener noreferrer">annual programming challenge</a> posed by Eric Wastl, which saw >300k attempts in 2023, but only ~11k finishers. However, I only attempted it after discovering it in June 2024, which is basically the opposite of christmas vibes for most people. </p>
<p>I gained a fair amout of experience from the challenges, from applying various concepts such as flood-fill and graph algorithms to learning incredibly niche concepts such as <a  style="font-weight: normal" href="https://en.wikipedia.org/wiki/Pick%27s_theorem" target="_blank" rel="noopener noreferrer">Pick's Theorem</a></p>
<br><hr>
<h2>Line Sticker Downloader</h2>
<p>Python | <a href="https://github.com/alvinnws/Line-Sticker-Downloader"  target="_blank" rel="noopener noreferrer">Repository</a></p>
<p>This was my first ever program written outside of any tutorials/lessons/etc. Short and simple, it served only one purpose which was to take in the link of a Line stickerpack and scrape the images.</p>
<p>Looking back, there is a lot of improvements to be made, but it served its purpose at the time and I saved significantly more time using this than manually downloading everything, which was good enough.</p>
<!-- TEMPLATE -->
<div style="display:none">
    <br><hr>
    <h2>TITLE</h2>
    <p>TECH | <a href=""  target="_blank" rel="noopener noreferrer">Repository</a></p>
    <p></p>
    <p></p>
</div>