<h1>Work Experience</h1>

<h2>Project Engineer Intern<span style="font-weight: normal;">, MLS Logistic Services</span></h2>
<p><i>May 2024 - Aug 2024</i></p>
<ul>
    <li>Revamped automation that resulted in 20x increase in efficiency, clearing a 3 month backlog in one week</li>
    <li>Enhanced processes for inventory accounting workflow, reducing time taken and increasing accuracy</li>
    <li>Created an automated feedback system, allowing relevant departments to take action where necessary</li>
</ul>
<p><b>Software Used:</b> UiPath, Microsoft Power Platform (Power BI, Power Automate and Power Apps)</p>
<p>I specialised in creating automations to improve efficiency in workflows. My work challenged me as not only did I need to ideate and create these automations, I also had to cater them to a less tech-savvy audience.</p>
<p>An emphasis was placed in ensuring my solutions could be maintained by the users. This meant that I had to simplify my work to a large extent, including foreseeing potential adjustments that needed to be made, and teaching the basics of the program.</p>
<br><hr>
<h2>Undergradute Researcher<span style="font-weight: normal;">, Singapore University of Technology and Design</span></h2>
<p><i>Jan 2024 - June 2024</i></p>
<ul>
    <li>Developed a Python package to provide type hints for beginners</li>
    <li>Created a VSCode extension to integrate the Python package with VSCode's functionalities</li>
</ul>
<p><b>Languages Used:</b> Python, Typescript</p>
<p>Under the guidance of Dr. Oka Kurniawan, I created the Python package and VSCode Extension with the aim of reducing the learning curve to data types in Python. Taking on this project was a wonderful learning experience for myself as I got a deeper understanding of the development workflow and gained experience in creating these packages from scratch.</p>
<p></p>
<!-- TEMPLATE -->
<div style="display:none">
    <br><hr>
    <h2>TITLE<span style="font-weight: normal;">, COMPANY</span></h2>
    <p><i>START - END</i></p>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <p><b>Software Used:</b> </p>
    <p></p>
    <p></p>
</div>