main {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 0px;
}
  
app-square {
    border: 1px gray solid;
    height: 100px;
    width: 100px;
    
}

#center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#newgame {
    width: 200px;
    height: 50px;
}