<h1>Tic-Tac-Toe</h1>
<p>This game was built based on the tutorial by <a href="https://www.youtube.com/watch?v=G0bBLvWXBvc">Fireship</a>.</p>
<div id="center">
  <p>Current Player: {{ player }} </p>
</div>
<div id="center">
  <button id="newgame" (click)="newGame()">Start New Game</button>
</div>
<div id="center">
  @if (winner) {
    <p>
      Player {{ winner }} won the game!
    </p>
  }
</div>

<main id="center">
  @for (val of squares; track val; let i = $index) {
    <app-square
      [value]="val"
      (click)="makeMove(i)">
    </app-square>
  }
</main>