<main>
    <div id="center">
        <p>Current Player: {{ player }} </p>
    </div>
    <div id="center">
        <button id="newgame" (click)="newGame()">Start New Game</button>
    </div>
    <div id="center">
        <p *ngIf="winner">
            Player {{ winner }} won the game!
        </p>
    </div>
    <div id="spacer">
    </div>
    <div id="spacer">
    </div>
    <div id="spacer">
    </div>
    <app-square
        *ngFor="let val of squares; let i = index"
        [value]="val"
        (click)="makeMove(i)">

    </app-square>
</main>