html {
    font-family: "Aleo";
}

nav {
    display: flex;
    position: fixed;
    background-color: #F0F0F0;
    width: min(80%, 800px);
    height: 35px;
    align-items: center;
}

.nav-link {
    padding: 0px 5px 0px 5px;
}

.nav-icon {
    width: 35px;
    height: 35px;
}

#nav-hr {
    position: fixed;
    width: min(80%, 800px);
    top: 35px;
    margin: 0;
}

body {
    max-width: min(80%, 800px);
    min-height: 100vh;
    margin: 0px auto 0px auto;
    height: auto;
    background-color: #F0F0F0;
}

main {
    padding: 50px 0px 20px 0px;
}

a {
    text-decoration: none;
    color: #006633;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

.postlist {
	counter-reset: start-from var(--postlist-index);
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-link {
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
}