html {
    font-family: "Aleo";
}

nav {
    display: flex;
    position: fixed;
    background-color: #F0F0F0;
    width: min(80%, 800px);
    height: 35px;
    align-items: center;
}

.nav-link {
    padding: 0px 5px 0px 5px;
}

.nav-icon {
    width: 35px;
    height: 35px;
}

#nav-hr {
    position: fixed;
    width: min(80%, 800px);
    top: 35px;
    margin: 0;
}

body {
    max-width: min(80%, 800px);
    min-height: 100vh;
    margin: 0px auto 0px auto;
    height: auto;
    background-color: #F0F0F0;
}

main {
    padding: 50px 0px 20px 0px;
}

a {
    text-decoration: none;
    color: #006633;
    font-weight: 600;
}
