<div id="bg" >
    <div id="menu" >
        <button mat-button [mat-menu-trigger-for]="menu" style="margin: 5px min(70%, 610px) 0px 5px;"><mat-icon>menu</mat-icon>Menu</button>
        <button mat-button>
            <mat-icon></mat-icon>
        </button>
        <mat-menu #menu>
            <a mat-menu-item>Projects</a>
            <a mat-menu-item>Resume</a>
        </mat-menu>
        <hr id="menu-divider">
    </div>
    <div id="title-holder">
        <div id="title">
            <img src="../../assets/HomePic.jpg" alt="Picture of Alvin Ng">
            <h1 style="margin: 0px;">Hi! I'm Alvin Ng Wei Sing</h1>
            <div id="about">
                <p>I'm currently a student at Singapore University of Technology and Design, where I intend to major in Computer Science and Design. I'm honoured to be a recepient of the SUTD Global Distinguished Scholarship, and look foward to making the most of my time and abilities as an undergraduate.</p>
                <p>At the moment, I'm working as a Project Engineer intern at MLS Logistic Services. My role specialises in enhancing workflows through use of automations.</p>
                <p>While the rest of this website is a work in progress, you may find its repo <a href="https://www.github.com/alvinnws/alvinnws.github.io" style="color: black">here</a>. Feel free to contact me via <a href="https://www.linkedin.com/in/alvinnws/" style="color: black">LinkedIn</a> or <a href="mailto:official@alvinnws.com" style="color: black">email</a>.</p>
                <p>(yes, my hair was very red, and no, it is no longer red)</p>
                
            </div>
            <div id="scroll" style="display: none">
                <p>Scroll down for more</p>
            </div>
        </div>
    </div>
    <div id="body">
        <h2 style="display: none">Skills</h2>
        <div id="skills" style="display: none">
            <mat-card id="skillitem">
                <h3>Languages</h3>
                <p>Python</p>
                <p>Java</p>
                <p>Javascript</p>
                <p>HTML/CSS</p>
                <p>SQL</p>
            </mat-card>
            <mat-card id="skillitem">
                <h3>Software</h3>
                <p>Procreate</p>
                <p>Photoshop</p>
                <p>Illustrator</p>
            </mat-card>
            <mat-card id="skillitem">
                <h3>Frameworks/ Libraries</h3>
                <p>Tensorflow</p>
                <p>Angular</p>
            </mat-card>
            <mat-card id="skillitem">
                <h3>Tools</h3>
                <p>Git</p>
            </mat-card>
        </div>
    </div>
</div>